/*footer.css*/
@charset 'utf-8';

/*********footer*************/
footer {
    width: 100%;
    margin-top: 200px;
    border-top: 2px solid #eee;
}

.footer-wrap {
    padding-top: 40px;
    width: 1280px;
    margin: 0 auto 40px auto;
}

.footer-logo {
    float: left;
    width: 25%;
}

.footer-main {
    float: left;
    padding-left: 5%;
    width: 65%;
}

.footer-main .footer-link > a {
    color: #333;
    font-size: 16px;
    padding-right: 5px;
    transition: all 0.5s;
}

.footer-main .footer-link a:hover {
    color: #d3313a;

}

.footer-main .footer-des {
    margin-top: 30px;
    font-size: 13px;
    color: #333;
}

.footer-des ul > li {
    padding-top: 5px;
}

.footer-des p {
    padding-top: 5px;
}

.btn-top {
    float: left;
    width: 5%;
}
