@charset "utf-8";


/***********************************/
section {
    width: 100%;
    padding-top: 120px;
}

/**************main*********************/
.main {
    width: 100%;
    height: 360px;
    background: url(../img/menu_main.png) no-repeat center/cover;
    position: relative;
    overflow: hidden;

}

.main .mtxt {
    position: absolute;
    left: 50%;
    top: -100%;
    transform: translate(-50%, -50%);
}

.main h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: #d3313a;
    font-weight: bold;
}

.main p {
    text-align: center;
    font-size: 22px;
}

/***************cmenu****************/
.cmenu {
    width: 100%;
    margin: 0 auto;
}

.cmenu .cmenu-b {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    line-height: 60px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    z-index: 9;
}

.top-menu {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

.top-menu:after {
    display: block;
    clear: both;
    content: "";
}

.top-menu li {
    float: left;
    width: 33.333%;
    text-align: center;
    box-sizing: border-box;
    border-right: 1px solid #eee;
    transition: 0.5s;
}

.top-menu li:first-child {
    border-left: 1px solid #eee;
}

.top-menu li > a {
    color: #333;
    font-size: 20px;
    font-weight: 500;
    position: relative;
}

li.selM {
    background-color: rgba(211, 49, 58, 0.8);
    border-right: 0;
}

li.selM a {
    color: #fff;
}

li.selM a:after {
    content: "";
    height: 1.5px;
    width: 0;
    background-color: #fff;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: 1s;
}

li.selM a:hover:after {
    width: 100%;
}

.slider {
    margin: 0 auto;
    margin-top: 100px;
    width: 1280px;
    height: 300px;
    overflow: hidden;
    position: relative;

}

.viewer {
    width: 5120px;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.viewer:after {
    display: block;
    content: "";
    clear: both;
}

.viewer li {
    float: left;
    width: 25%;
}

.abtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.abtn img {
    width: 40px;
    height: 40px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(328deg) brightness(110%) contrast(101%);
}

.btnL {
    left: 10px;
}

.btnR {
    right: 10px;
}


/***********tmenu**************/
.menu1 {
    width: 1280px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 300px;
    display: none;
}

.mwrap {
    width: 100%;
}

.mwrap:after {
    content: "";
    display: block;
    clear: both;
}

.mwrap li {
    float: left;
    width: 23%;
    padding: 1%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #333;
    position: relative;
}

.mwrap .tit {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    padding-bottom: 5px;
}

.mwrap .desc {
    font-size: 14px;
    font-weight: 100;
    color: #666;
}

.mwrap .menui {
    position: relative;
    display: inline-block;
    width: 220px;
    height: 220px;
}

.mwrap .menui img {
    width: 195px;
}

.mwrap .quick {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.quick span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
    color: #000;
    font-weight: 200;
}

.mwrap .quick img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(328deg) brightness(110%) contrast(101%);
    transform: translate(-50%, -50%);
    opacity: 0;
}

.mwrap li .menui:hover .quick {
    opacity: 1;
    background-color: rgba(211, 49, 58, 0.7);
    transition: all 0.5s;
}

.mwrap li .menui:hover .quick img {
    transition-delay: 0.2s;
    opacity: 1;
}

#tmodal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

#tmodal .mcont {
    background-color: rgba(255, 255, 255, 0.8);
    width: 800px;
    height: 500px;
    position: absolute;
    border-radius: 40px 0 40px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tmodal .mcont > img {
    padding-left: 50px;
    float: left;
    width: 350px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#tmodal .righttxt {
    float: right;
    width: 320px;
    padding: 0px 40px;
    text-align: center;
}

#tmodal .righttxt h2 {
    margin-top: 100px;
    color: #333;
}

#tmodal .righttxt p {
    margin-top: 80px;
    color: #333;
    font-size: 18px;
    word-break: keep-all;
}

#tmodal .righttxt .mdes {
    margin-top: 80px;
    font-size: 16px;
    color: #d3313a;
}

#tmodal .mdes .mspa {
    color: #333;
}

#tmodal .cbtn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    background: url(../img/close-icon.png) no-repeat;
    background-size: 30px 30px;
}

#tmodal .cbtn > span {
    display: none;
}

/***********ctmenu**************/
.menu2 {
    display: block;
    width: 1280px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 300px;
}

.ctwrap {
    width: 100%;
}

.ctwrap:after {
    content: "";
    display: block;
    clear: both;
}

.ctwrap li {
    float: left;
    width: 23%;
    padding: 1%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #333;
    position: relative;
}

.ctwrap .tit {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    padding-bottom: 5px;
}

.ctwrap .desc {
    font-size: 14px;
    font-weight: 100;
    color: #666;
}

.ctwrap .menui {
    position: relative;
    display: inline-block;
    width: 220px;
    height: 220px;
}

.ctwrap .menui img {
    width: 195px;
}

.ctwrap .quick {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.quick span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
    color: #000;
    font-weight: 200;
}

.ctwrap .quick img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(328deg) brightness(110%) contrast(101%);
    opacity: 0;
}

.ctwrap li .menui:hover .quick {
    opacity: 1;
    background-color: rgba(211, 49, 58, 0.7);
    transition: all 0.5s;
}

.ctwrap li .menui:hover .quick img {
    transition-delay: 0.2s;
    opacity: 1;
}

#cmodal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

#cmodal .mcont {
    background-color: rgba(255, 255, 255, 0.8);
    width: 800px;
    height: 500px;
    position: absolute;
    border-radius: 40px 0 40px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#cmodal .mcont > img {
    padding-left: 50px;
    float: left;
    width: 350px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#cmodal .righttxt {
    float: right;
    width: 320px;
    padding: 0px 40px;
    text-align: center;
}

#cmodal .righttxt h2 {
    margin-top: 100px;
    color: #333;
}

#cmodal .righttxt p {
    margin-top: 80px;
    color: #333;
    font-size: 18px;
    word-break: keep-all;
}

#cmodal .righttxt .mdes {
    margin-top: 80px;
    font-size: 16px;
    color: #d3313a;
}

#cmodal .mdes .mspa {
    color: #333;
}

#cmodal .cbtn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    background: url(../img/close-icon.png) no-repeat;
    background-size: 30px 30px;
}

#cmodal .cbtn > span {
    display: none;
}

/***********bmenu***************/
.menu3 {
    display: none;
    width: 1280px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 300px;
}

.bwrap {
    width: 100%;
}

.bwrap:after {
    content: "";
    display: block;
    clear: both;
}

.bwrap li {
    float: left;
    width: 23%;
    padding: 1%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #333;
    position: relative;
}

.bwrap .tit {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    padding-bottom: 5px;
}

.bwrap .desc {
    font-size: 14px;
    font-weight: 100;
    color: #666;
}

.bwrap .menui {
    position: relative;
    display: inline-block;
    width: 220px;
    height: 220px;
}

.bwrap .menui img {
    width: 195px;
}

.bwrap .quick {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 40%;
    height: 40%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.quick span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
    color: #000;
    font-weight: 200;
}

.bwrap .quick img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(328deg) brightness(110%) contrast(101%);
    transform: translate(-50%, -50%);
    opacity: 0;
}

.bwrap li .menui:hover .quick {
    opacity: 1;
    background-color: rgba(211, 49, 58, 0.7);
    transition: all 0.5s;
}

.bwrap li .menui:hover .quick img {
    transition-delay: 0.2s;
    opacity: 1;
}

#bmodal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

#bmodal .mcont {
    background-color: rgba(255, 255, 255, 0.8);
    width: 800px;
    height: 500px;
    position: absolute;
    border-radius: 40px 0 40px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#bmodal .mcont > img {
    padding-left: 50px;
    float: left;
    width: 350px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#bmodal .righttxt {
    float: right;
    width: 320px;
    padding: 0px 40px;
    text-align: center;
}

#bmodal .righttxt h2 {
    margin-top: 100px;
    color: #333;
}

#bmodal .righttxt p {
    margin-top: 80px;
    color: #333;
    font-size: 18px;
    word-break: keep-all;
}

#bmodal .righttxt .mdes {
    margin-top: 80px;
    font-size: 16px;
    color: #d3313a;
}

#bmodal .mdes .mspa {
    color: #333;
}

#bmodal .cbtn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30px;
    right: 30px;
    background: url(../img/close-icon.png) no-repeat;
    background-size: 30px 30px;
}

#bmodal .cbtn > span {
    display: none;
}
